<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>drgroundhog_pet_idle01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {46, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{46, 62}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 1}, {46, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_idle02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {46, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{46, 60}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{231, 1}, {46, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_idle03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 3}, {46, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{46, 60}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 1}, {46, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_idle04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {46, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{46, 60}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 67}, {46, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_idle05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {46, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{46, 60}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 67}, {46, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_walk01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {46, 62}}</string>
			<key>spriteOffset</key>
			<string>{-1, -1}</string>
			<key>spriteSize</key>
			<string>{46, 62}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{375, 1}, {46, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_walk02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {46, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{46, 62}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 1}, {46, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_walk03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {44, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{44, 62}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{139, 1}, {44, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_walk04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {44, 64}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{44, 64}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 1}, {44, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_walk05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {44, 60}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{44, 60}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 1}, {44, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_walk06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {44, 60}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{44, 60}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {44, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_walk07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {44, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{44, 58}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{47, 1}, {44, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>drgroundhog_pet_walk08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {46, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{46, 60}</string>
			<key>spriteSourceSize</key>
			<string>{50, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 67}, {46, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>drgroundhogpet</string>
		<key>premultipliedAlpha</key>
		<true/>
		<key>size</key>
		<string>{512, 128}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>drgroundhogpet</string>
			<key>name</key>
			<string>default</string>
			<key>premultipliedAlpha</key>
			<true/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>drgroundhogpet</string>
		</dict>
		<key>version</key>
		<string>1.5.5</string>
	</dict>
</dict>
</plist>
