<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZOMTAR_BACK_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>3</integer>
		<key>height</key>
		<integer>23</integer>
		<key>offsetX</key>
		<integer>-9</integer>
		<key>offsetY</key>
		<integer>32</integer>
		<key>pivotX</key>
		<real>0.74327200000000004</real>
		<key>pivotY</key>
		<real>0.765455</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>36</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>105</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>ZOMTAR_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>0</integer>
		<key>height</key>
		<integer>40</integer>
		<key>offsetX</key>
		<integer>4</integer>
		<key>offsetY</key>
		<integer>26</integer>
		<key>pivotX</key>
		<real>0.52500000000000002</real>
		<key>pivotY</key>
		<real>0.55000000000000004</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>40</integer>
		<key>x</key>
		<integer>64</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>ZOMTAR_FOOT.png</key>
	<dict>
		<key>actorTag</key>
		<integer>7</integer>
		<key>height</key>
		<integer>13</integer>
		<key>offsetX</key>
		<integer>-9</integer>
		<key>offsetY</key>
		<integer>28</integer>
		<key>pivotX</key>
		<real>-0.26480199999999998</real>
		<key>pivotY</key>
		<real>2.3972349999999998</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>19</integer>
		<key>x</key>
		<integer>38</integer>
		<key>y</key>
		<integer>105</integer>
		<key>z</key>
		<integer>-1</integer>
	</dict>
	<key>ZOMTAR_FOOT.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>4</integer>
		<key>height</key>
		<integer>13</integer>
		<key>offsetX</key>
		<integer>-2</integer>
		<key>offsetY</key>
		<integer>5</integer>
		<key>pivotX</key>
		<real>0.65419400000000005</real>
		<key>pivotY</key>
		<real>0.62740300000000004</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>19</integer>
		<key>x</key>
		<integer>38</integer>
		<key>y</key>
		<integer>105</integer>
		<key>z</key>
		<integer>-2</integer>
	</dict>
	<key>ZOMTAR_FRONT_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>2</integer>
		<key>height</key>
		<integer>29</integer>
		<key>offsetX</key>
		<integer>12</integer>
		<key>offsetY</key>
		<integer>35</integer>
		<key>pivotX</key>
		<real>0.71933599999999998</real>
		<key>pivotY</key>
		<real>0.68103400000000003</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>40</integer>
		<key>x</key>
		<integer>64</integer>
		<key>y</key>
		<integer>42</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>ZOMTAR_HEAD.png</key>
	<dict>
		<key>actorTag</key>
		<integer>1</integer>
		<key>height</key>
		<integer>103</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>24</integer>
		<key>pivotX</key>
		<real>0.668157</real>
		<key>pivotY</key>
		<real>-0.078239000000000003</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>62</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>ZOMTAR_JAW.png</key>
	<dict>
		<key>actorTag</key>
		<integer>15</integer>
		<key>height</key>
		<integer>25</integer>
		<key>offsetX</key>
		<integer>4</integer>
		<key>offsetY</key>
		<integer>17</integer>
		<key>pivotX</key>
		<real>0.90095499999999995</real>
		<key>pivotY</key>
		<real>0.90859400000000001</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>45</integer>
		<key>x</key>
		<integer>64</integer>
		<key>y</key>
		<integer>73</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
